@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: 'GmarketSansMedium';
}

h1{
  text-align: center;
  padding-top: 50px;

}

.header a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-left: 30px;
}

.header a:hover{
  color: pink;
}

.box{
  text-align: left;
}
.write{
  background-color: rgb(14, 156, 31);
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
}



.write:hover{
 background-color: rgb(29, 96, 36);
 color: white;
}

.box a{
  color: white;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}

.ellipsis {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}